
:root,
[data-bs-theme=light] {
  --vz-blue: #5ea3cb;
  --vz-indigo: #405189;
  --vz-purple: #7084c7;
  --vz-pink: #f672a7;
  --vz-red: #fa896b;
  --vz-orange: #f1963b;
  --vz-yellow: #f7b84b;
  --vz-green: #6ada7d;
  --vz-teal: #02a8b5;
  --vz-cyan: #58caea;
  --vz-white: #fff;
  --vz-gray: #878a99;
  --vz-gray-dark: #343a40;
  --vz-gray-100: #f3f6f9;
  --vz-gray-200: #eff2f7;
  --vz-gray-300: #e9ebec;
  --vz-gray-400: #ced4da;
  --vz-gray-500: #adb5bd;
  --vz-gray-600: #878a99;
  --vz-gray-700: #495057;
  --vz-gray-800: #343a40;
  --vz-gray-900: #212529;
  --vz-primary: #5ea3cb;
  --vz-secondary: #7084c7;
  --vz-success: #6ada7d;
  --vz-info: #58caea;
  --vz-warning: #f7b84b;
  --vz-danger: #fa896b;
  --vz-light: #f3f6f9;
  --vz-dark: #212529;
  --vz-primary-rgb: 94, 163, 203;
  --vz-secondary-rgb: 112, 132, 199;
  --vz-success-rgb: 106, 218, 125;
  --vz-info-rgb: 88, 202, 234;
  --vz-warning-rgb: 247, 184, 75;
  --vz-danger-rgb: 250, 137, 107;
  --vz-light-rgb: 243, 246, 249;
  --vz-dark-rgb: 33, 37, 41;
  --vz-primary-text-emphasis: #508bad;
  --vz-secondary-text-emphasis: #5f70a9;
  --vz-success-text-emphasis: #5ab96a;
  --vz-info-text-emphasis: #4bacc7;
  --vz-warning-text-emphasis: #d29c40;
  --vz-danger-text-emphasis: #d5745b;
  --vz-light-text-emphasis: #ced4da;
  --vz-dark-text-emphasis: #343a40;
  --vz-primary-bg-subtle: #e7f1f7;
  --vz-secondary-bg-subtle: #eaedf7;
  --vz-success-bg-subtle: #e9f9ec;
  --vz-info-bg-subtle: #e6f7fc;
  --vz-warning-bg-subtle: #fef4e4;
  --vz-danger-bg-subtle: #feede9;
  --vz-light-bg-subtle: #f9fbfc;
  --vz-dark-bg-subtle: #e9ebec;
  --vz-primary-border-subtle: #bfdaea;
  --vz-secondary-border-subtle: #c6cee9;
  --vz-success-border-subtle: #c3f0cb;
  --vz-info-border-subtle: #bceaf7;
  --vz-warning-border-subtle: #fce3b7;
  --vz-danger-border-subtle: #fdd0c4;
  --vz-light-border-subtle: #eff2f7;
  --vz-dark-border-subtle: #adb5bd;
  --vz-white-rgb: 255, 255, 255;
  --vz-black-rgb: 0, 0, 0;
  --vz-font-sans-serif: "IBM Plex Sans", sans-serif;
  --vz-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --vz-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --vz-body-font-family: var(--vz-font-sans-serif);
  --vz-body-font-size: 0.875rem;
  --vz-body-font-weight: 400;
  --vz-body-line-height: 1.5;
  --vz-body-color: #212529;
  --vz-body-color-rgb: 33, 37, 41;
  --vz-body-bg: #f1f1f1;
  --vz-body-bg-rgb: 241, 241, 241;
  --vz-emphasis-color: #212529;
  --vz-emphasis-color-rgb: 33, 37, 41;
  --vz-secondary-color: #878a99;
  --vz-secondary-color-rgb: 135, 138, 153;
  --vz-secondary-bg: #fff;
  --vz-secondary-bg-rgb: 255, 255, 255;
  --vz-tertiary-color: rgba(33, 37, 41, 0.5);
  --vz-tertiary-color-rgb: 33, 37, 41;
  --vz-tertiary-bg: #eff2f7;
  --vz-tertiary-bg-rgb: 239, 242, 247;
  --vz-heading-color: #495057;
  --vz-link-color: #5ea3cb;
  --vz-link-color-rgb: 94, 163, 203;
  --vz-link-decoration: none;
  --vz-link-hover-color: #5ea3cb;
  --vz-link-hover-color-rgb: 94, 163, 203;
  --vz-code-color: #f672a7;
  --vz-highlight-color: #212529;
  --vz-highlight-bg: #fcf8e3;
  --vz-border-width: 1px;
  --vz-border-style: solid;
  --vz-border-color: #e9ebec;
  --vz-border-color-translucent: #ced4da;
  --vz-border-radius: 0.25rem;
  --vz-border-radius-sm: 0.2rem;
  --vz-border-radius-lg: 0.3rem;
  --vz-border-radius-xl: 1rem;
  --vz-border-radius-xxl: 2rem;
  --vz-border-radius-2xl: var(--vz-border-radius-xxl);
  --vz-border-radius-pill: 50rem;
  --vz-box-shadow: 0 1px 2px rgba(56, 65, 74, 0.15);
  --vz-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --vz-box-shadow-lg: 0 5px 10px rgba(30, 32, 37, 0.12);
  --vz-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --vz-focus-ring-width: 0.25rem;
  --vz-focus-ring-opacity: 0.25;
  --vz-focus-ring-color: rgba(var(--vz-primary-rgb), 0.25);
  --vz-form-valid-color: #6ada7d;
  --vz-form-valid-border-color: #6ada7d;
  --vz-form-invalid-color: #fa896b;
  --vz-form-invalid-border-color: #fa896b;
}

[data-bs-theme=dark] {
  color-scheme: dark;
  --vz-body-color: #ced4da;
  --vz-body-color-rgb: 206, 212, 218;
  --vz-body-bg: #1a1d21;
  --vz-body-bg-rgb: 26, 29, 33;
  --vz-emphasis-color: #fff;
  --vz-emphasis-color-rgb: 255, 255, 255;
  --vz-secondary-color: #878a99;
  --vz-secondary-color-rgb: 135, 138, 153;
  --vz-secondary-bg: #212529;
  --vz-secondary-bg-rgb: 33, 37, 41;
  --vz-tertiary-color: rgba(206, 212, 218, 0.75);
  --vz-tertiary-color-rgb: 206, 212, 218;
  --vz-tertiary-bg: #2a2d31;
  --vz-tertiary-bg-rgb: 42, 45, 49;
  --vz-primary-text-emphasis: #7eb5d5;
  --vz-secondary-text-emphasis: #8d9dd2;
  --vz-success-text-emphasis: #88e197;
  --vz-info-text-emphasis: #79d5ee;
  --vz-warning-text-emphasis: #f9c66f;
  --vz-danger-text-emphasis: #fba189;
  --vz-light-text-emphasis: #535659;
  --vz-dark-text-emphasis: #5f6164;
  --vz-primary-bg-subtle: rgba(94, 163, 203, 0.15);
  --vz-secondary-bg-subtle: rgba(112, 132, 199, 0.15);
  --vz-success-bg-subtle: rgba(106, 218, 125, 0.15);
  --vz-info-bg-subtle: rgba(88, 202, 234, 0.15);
  --vz-warning-bg-subtle: rgba(247, 184, 75, 0.15);
  --vz-danger-bg-subtle: rgba(250, 137, 107, 0.15);
  --vz-light-bg-subtle: #25282c;
  --vz-dark-bg-subtle: #313437;
  --vz-primary-border-subtle: #3d6a84;
  --vz-secondary-border-subtle: #384264;
  --vz-success-border-subtle: #356d3f;
  --vz-info-border-subtle: #2c6575;
  --vz-warning-border-subtle: #7c5c26;
  --vz-danger-border-subtle: #7d4536;
  --vz-light-border-subtle: #35383c;
  --vz-dark-border-subtle: #3c3f42;
  --vz-heading-color: #ced4da;
  --vz-link-color: #dfedf5;
  --vz-link-hover-color: #e5f1f7;
  --vz-link-color-rgb: 223, 237, 245;
  --vz-link-hover-color-rgb: 229, 241, 247;
  --vz-code-color: #f672a7;
  --vz-highlight-color: #dee2e6;
  --vz-highlight-bg: #664d03;
  --vz-border-color: #32383e;
  --vz-border-color-translucent: #32383e;
  --vz-form-valid-color: #88e197;
  --vz-form-valid-border-color: #88e197;
  --vz-form-invalid-color: #fba189;
  --vz-form-invalid-border-color: #fba189;
}

body {
    margin: 0;
    background-color: var(--vz-body-bg);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.text-primary {
    color: rgba(var(--vz-primary-rgb), 1) !important;
}
