h2 {
margin: 0;
padding: 0;
font-size: 20px;
line-height:31px;
text-align: center;
color: #333;
text-transform: uppercase;
}
table {
margin: 0;
padding: 0;
width: 900px;
}
table p {
font-size: 12px;
}

table p.rcol {
font-size: 11px;
}

h4 {
margin: 20px 0 10px;
font-size: 14px;
font-weight: bold;
}

p {
font-size: 9px;
margin: 0 0 10px;
}

.container {
font-family: 'Times New Roman', 'Segoe UI', Tahoma, sans-serif;
}
